name: testing

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"

jobs:
  static_analysis:
    name: ${{ matrix.make-command }} / Py${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6]
        make-command: [doc8, flake8, pylint, integration_test]

    steps:

    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: |
        sudo apt-get install virtualenv
        pip install -r devel.txt

    - name: Prepare for integration test
      if: matrix.make-command == 'integration_test'
      run: |
        echo "[tcms]" > ~/.tcms.conf
        echo "url = https://tcms.kiwitcms.org/xml-rpc/" >> ~/.tcms.conf
        echo "username = kiwitcms-bot" >> ~/.tcms.conf
        echo "password = ${{ secrets.TCMS_PASSWORD }}" >> ~/.tcms.conf

        # Ubuntu doesn't like the CA which signs our server certificates
        sudo cp .ssl/*.pem /usr/lib/ssl/certs/
        sudo update-ca-certificates --fresh

        pip install robotframework-seleniumlibrary

        if [ -z `which firefox` ]; then
            sudo apt-get install firefox
        fi

        if [ -z `which geckodriver` ]; then
            sudo apt-get install firefox-geckodriver
        fi

    - name: Verify ${{ matrix.make-command }}
      run: |
        export TCMS_PRODUCT=$GITHUB_REPOSITORY
        # branch name or pull/123
        export TCMS_PRODUCT_VERSION=$(echo $GITHUB_REF | sed "s|refs/heads/||" | sed "s|refs/||" | sed "s|/merge||")
        # short commit number
        export TCMS_BUILD=$(echo $GITHUB_SHA | cut -c1-7)

        make ${{ matrix.make-command }}
